#F1 {
    width: 23em;
    height: 20em;
}
#F2
{
    width: 20em;
    height: 20em;
}
#F3
{
    width: 20em;
    height: 20em;
}
#F4
{
    width: 20em;
    height: 20em;
}
#F5
{
    width: 20em;
    height: 20em;
}